cluster:
  name: "{{ cluster_name }}"
  baseDomain: "{{ base_domain }}"
  gitOpsRepo: "{{ gitops_repo_url }}"
  gitOpsBasePath: argocd/clusters/managed-clusters

monitoring:
{% if cluster_platform == "openstack" %}
  enabled: true
  storageClass: standard-csi
{% elif "odf-external" in cluster_special_feature|lower %}
  enabled: true
  storageClass: ocs-external-storagecluster-ceph-rbd
{% else %}
  enabled: false
{% endif %}

{% if "odf-external" in cluster_special_feature|lower  %}
odfStorage:
  enabled: true
  external: true
  version: '{{ cluster_version }}'
  externalSecret:
    name: rook-ceph-external-cluster-details
    vaultName: {{ cluster_name }}-rook-data

network:
  hostRouting: true
{% endif %}

externalSecrets:
  vaultAuthPath: "{{ hashicorp_vault['vault_managed_auth_name'] }}"

{% if cluster_version is version_compare('4.12', 'gt') %}
mirrorRegistry:
  enabled: true
{% endif %}

timesync:
  enabled: true
{% if cluster_platform == "openstack" %}
  ptp:
    enabled: true
    loadKvmModule: true
  ntpServers: []
{% else %}
  ntpServers: {{ cluster_ntp_sources }}
{% endif %}

auth:
  oidcClientID: "{{ cluster_sso['client_id'] }}"
  externalSecret:
    name: oauth-signal9-client-secret
    vaultName: {{ hashicorp_vault['cluster_secrets']['oidc'] }}

certManager:
  externalSecret:
    name: route53-key
    vaultName: {{ hashicorp_vault['cluster_secrets']['cert-manager-dns'] }}
  solvers:
    - http01:
        ingress: {}
    - dns01:
        route53:
          # Required prior to 1.9 when this can be moved to a 
          # secret and pulled from vault like the secret key
          accessKeyID: AKIAR3Z7ELN7VLNNHZHZ
          region: us-east-1
          secretAccessKeySecretRef:
            key: secret-access-key
            name: route53-key
      selector:
        dnsZones:
          - {{ base_domain }}

{% if metallb_network %}
metallb:
  enabled: true
  localAsn: {{ metallb_asn }}
  peers:
    - name: lab-rtr-a
      address: 172.18.16.2
      asn: 65123
    - name: lab-rtr-b
      address: 172.18.16.3
      asn: 65123
  clusterIpPool: "{{ metallb_network.value.prefix }}"
  anycastIpPool: "172.18.71.0/24"
{% endif %}
