cluster:
  name: ocp4
  baseDomain: lab.signal9.gg
  gitOpsRepo: https://github.com/marbindrakon/rhte-2023-fleet-gitops.git
  importToHub: true
  createGitopsManifestWorks: false
  createGitopsSyncSet: false
  useACM: false
  type: ocp
  clusterImageSet: img4.11.17-x86-64-appsub
  releaseImage: null
  controlPlaneCount: 3
  workerCount: 3
  apiVIP: ""
  ingressVIP: ""
  pullSecretVault: ""
  trustedCAs: ""
  sshKeyVault: ""
  sshPubKey: ""
  dnsServers: []

provider:
  providerCredsVault: ""
  providerCAs: ""
  # Only used for vSphere IPI
  installConfigVault: ""
  # Can be OpenStack, Agent, AWS, or vSphere
  type: OpenStack
  aws:
    region: us-east-2
    controllerFlavor: m1.xlarge
    workerFlavor: m1.large
    credentialsMode: Manual
    publishMode: External
    assumeRole:
      roleARN: ""
      externalID: ""
    serviceAccountSignerSecret: ""
    extraManifestsSecret: ""
  vsphere:
    datacenter: ""
    cluster: ""
    defaultDatastore: ""
    network: ""
    folder: null
    vcenterHost: ""
  openstack:
    existingImage: null
    externalNetwork: ""
    computeAZs: []
    controlPlaneFlavor: m1.xlarge
    workerFlavor: m1.large
  agent:
    # Override provider type on AgentClusterInstall (i.e. agent install on VSphere)
    infraEnvType: shared
    infraEnvSettings:
      networkType: static
      hostNetworkConfigs: {}
      ntpServers:
        - 172.18.0.79
        - 172.18.42.10
        - 172.18.42.11
    sharedInfraEnv:
      namespace: metal-infra-env
      name: metal-infra-env
    platformType: null
    useExternalLB: true
    machineCIDR: ""
