{{- if .Values.monitoring.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
{{ if .Values.monitoring.userWorkloadMonitoring }}
    enableUserWorkload: true
    alertmanagerMain:
      enableUserAlertmanagerConfig: true
{{ else }}
    alertmanagerMain:
{{ end }}
      volumeClaimTemplate:
       spec:
         storageClassName: {{ .Values.monitoring.storageClass }}
         resources:
           requests:
             storage: {{ .Values.monitoring.alertManagerSize }}
    prometheusK8s:
      retention: 7d
      volumeClaimTemplate:
       spec:
         storageClassName: {{ .Values.monitoring.storageClass }}
         resources:
           requests:
             storage: {{ .Values.monitoring.prometheusSize }}
{{ end }}
