apiVersion: hypershift.openshift.io/v1beta1
kind: HostedCluster
metadata:
  name: {{ .Values.cluster.name }}
  namespace: {{ .Values.cluster.hcpNamespace }}
  annotations:
    argocd.argoproj.io/sync-wave: '2'
{{- if .Values.cluster.controlPlaneOperatorImageOverride }}
    hypershift.openshift.io/control-plane-operator-image: {{ .Values.cluster.controlPlaneOperatorImageOverride }}
{{ end }}
spec:
  autoscaling: {}
{{- if .Values.cluster.trustBundleConfigMap }}
  additionalTrustBundle:
    name: {{ .Values.cluster.trustBundleConfigMap }}
{{ end }}
  controllerAvailabilityPolicy: HighlyAvailable
  olmCatalogPlacement: guest
  dns:
{{- if and (eq .Values.cluster.type "kubevirt") (.Values.cluster.kubevirt.baseDomainPassthrough) }}
    baseDomain: "{{ .Values.cluster.foundationIngressBaseDomaion }}"
{{ else }}
    baseDomain: {{ .Values.cluster.baseDomain }}
{{ end }}
  configuration:
    {{- if or .Values.certManager.manageApiCert .Values.certManager.manageOauthCert }}
    apiServer:
      audit:
        profile: Default
      servingCerts:
        namedCertificates:
    {{- if .Values.certManager.manageApiCert  }}
        - names:
          - api.{{ .Values.cluster.name }}.{{ .Values.cluster.baseDomain }}
          servingCertificate:
            name: {{ .Values.cluster.name }}-api-crt
    {{ end }}
    {{- if .Values.certManager.manageOauthCert  }}
        - names:
          - oauth-clusters-{{ .Values.cluster.name}}.{{ .Values.cluster.foundationIngressBaseDomain }}
          servingCertificate:
            name: {{ .Values.cluster.name }}-api-crt
    {{ end }}
    {{ end }}
    oauth:
      identityProviders:
        - name: local-admin 
          mappingMethod: claim
          type: HTPasswd
          htpasswd:
            fileData:
              name: local-admin-htpass
        - mappingMethod: claim
          name: Signal9-RHT
          openID:
            claims:
              email:
              - email
              groups:
              - groups
              name:
              - name
              preferredUsername:
              - preferred_username
              - email
            clientID: {{ .Values.cluster.name }}-openshift
            clientSecret:
              name: {{ .Values.cluster.name }}-oauth-client-secret
            extraScopes:
            - profile
            issuer: https://login.home.signal9.gg/auth/realms/Signal9-RHT
          type: OpenID
  etcd:
    managed:
      storage:
        persistentVolume:
          size: {{ .Values.cluster.etcdSize }}
        type: PersistentVolume
    managementType: Managed
  fips: false
  networking:
    clusterNetwork:
    - cidr: 10.132.0.0/14
    networkType: OVNKubernetes
    serviceNetwork:
    - cidr: 172.31.0.0/16
  platform:
{{ if eq .Values.cluster.type "agent" }}
    agent:
      agentNamespace: {{ .Values.cluster.agent.agentNamespaceOverride | default (print "clusters-" .Values.cluster.name) }}
    type: Agent
{{ end }}
{{ if eq .Values.cluster.type "kubevirt" }}
  platform:
    kubevirt:
      baseDomainPassthrough: {{ .Values.cluster.kubevirt.baseDomainPassthrough }}
    type: KubeVirt
{{ end }}
  pullSecret:
    name: {{ .Values.cluster.name }}-pull-secret
  release:
    image: {{ .Values.cluster.releaseImage }}
  services:
  - service: APIServer
    servicePublishingStrategy:
      nodePort:
        address: api.cluster1.lab.signal9.gg
      type: NodePort
  - service: OAuthServer
    servicePublishingStrategy:
      type: Route
  - service: OIDC
    servicePublishingStrategy:
      type: Route
  - service: Konnectivity
    servicePublishingStrategy:
      type: Route
  - service: Ignition
    servicePublishingStrategy:
      type: Route
  - service: OVNSbDb
    servicePublishingStrategy:
      type: Route
  sshKey:
    name: {{ .Values.cluster.name }}-ssh-key
