{{- if or .Values.certManager.manageApiCert .Values.certManager.manageOauthCert -}}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.cluster.name }}-api
  namespace: {{ .Values.cluster.hcpNamespace }}
  annotations:
    argocd.argoproj.io/sync-wave: '-1'
spec:
  secretName: {{ .Values.cluster.name }}-api-crt
  duration: 2160h0m0s # 90d
  renewBefore: 720h0m0s # 30d
  subject:
    organizations:
    - "Signal9 Labs"
  privateKey:
    size: 256
    algorithm: ECDSA
    encoding: PKCS1
    rotationPolicy: Always
  usages:
    - server auth
    - client auth
  dnsNames:
{{- if .Values.certManager.manageApiCert -}}
    - 'api.{{ .Values.cluster.name }}.{{ .Values.cluster.baseDomain }}'
{{ end }}
{{- if .Values.certManager.manageOauthCert -}}
    - 'oauth-clusters-{{ .Values.cluster.name}}.{{ .Values.cluster.foundationIngressBaseDomain }}'
{{ end }}
  issuerRef:
    name: cluster-acme
    kind: ClusterIssuer
---
{{ end }}
{{- if .Values.certManager.manageIngressCert -}}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.cluster.name }}-ingress
  namespace: {{ .Values.cluster.hcpNamespace }}
  annotations:
    argocd.argoproj.io/sync-wave: '-1'
spec:
  secretName: {{ .Values.cluster.name }}-ingress-crt
  duration: 2160h0m0s # 90d
  renewBefore: 720h0m0s # 30d
  subject:
    organizations:
    - "Signal9 Labs"
  privateKey:
    size: 256
    algorithm: ECDSA
    encoding: PKCS1
    rotationPolicy: Always
  usages:
    - server auth
    - client auth
  dnsNames:
    - '*.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.baseDomain }}'
    - '*.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.foundationIngressBaseDomain }}'
  issuerRef:
    name: cluster-acme
    kind: ClusterIssuer
---
{{ end }}
