ceph osd pool create {{ cluster_name }}-odf
ceph osd pool set {{ cluster_name }}-odf min_size 2
ceph osd pool set {{ cluster_name }}-odf size 4
ceph osd pool set {{ cluster_name }}-odf crush_rule replicated_rule
ceph osd pool application enable {{ cluster_name }}-odf rbd

python3 /root/create-external-cluster-resources.py --rbd-data-pool-name {{ cluster_name }}-odf --rgw-endpoint objectstore.atuin.signal9.gg:443 --rgw-skip-tls=true > /root/{{ cluster_name}}-odf.json
