{{- if .Values.certManager.enabled -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-helm
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '-1'
spec:
  destination:
    namespace: cert-manager
    server: "https://kubernetes.default.svc"
  project: default
  syncPolicy:
    automated: {}
  source:
    repoURL: "https://charts.jetstack.io"
    chart: "cert-manager"
    targetRevision: "v1.14.5"
    helm:
      values: |
        installCRDs: true
        global.leaderElection.namespace: cert-manager
        dns01RecursiveNameservers: "8.8.8.8:53"
        dns01RecursiveNameserversOnly: true
{{- end -}}
